map_hash_bucket_size 128;
map $http_host $magesite {
  skylabtest70.local default;
}

upstream backend {
    server unix:/var/run/php-fcgi.sock;
}

server {
    listen          *:80 default;
    listen          *:443 ssl;
    root            /var/www/vhosts/{{ default_fqdn }}/production/htdocs;

    fastcgi_read_timeout 300;
    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    client_max_body_size 20M;

    access_log  /var/log/nginx/{{ default_fqdn }}-access.log;
    error_log   /var/log/nginx/{{ default_fqdn }}-error.log;

    location / {
        index       index.html index.php;
        try_files   $uri $uri/ @handler;
        expires     30d;
    }

    location @handler {
        rewrite / /index.php;
    }

    location  /. {
        return 404;
    }

    location ~ .php/ {
        rewrite ^(.*.php)/ $1 last;
    }

    location ~ \.php$ {
        fastcgi_keep_conn on;

        if (!-e $request_filename) { rewrite / /index.php last; }

        #fastcgi_param  HTTPS $my_ssl;
        fastcgi_read_timeout 1800;
        expires        off;
        fastcgi_pass   backend;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;

        fastcgi_param  SERVER_NAME $http_host;
        fastcgi_param  MAGE_RUN_CODE  $magesite;
        fastcgi_param  MAGE_RUN_TYPE  "store";
        fastcgi_param  MAGE_IS_DEVELOPER_MODE "true";
    }

    location ~ \.htaccess         { deny all; }
    location /app/                { deny all; }
    location /includes/           { deny all; }
    location /lib/                { deny all; }
    location /media/downloadable/ { deny all; }
    location /pkginfo/            { deny all; }
    location /report/config.xml   { deny all; }
    location /var/                { deny all; }
    location /downloader/         { deny all; }


    ssl_certificate     /etc/nginx/ssl/wildcard.crt;
    ssl_certificate_key /etc/nginx/ssl/wildcard.key;

    ssl_session_timeout 7m;
    ssl_protocols SSLv2 SSLv3 TLSv1;
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers on;


    # Enable gzip compression
    gzip on;
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css text/javascript application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss;
}
